.experience-quote.quote {
    background-color: #ccc;
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.experience-quote.quote blockquote {
    margin: 16px;
    text-indent: 0;
}
