.block.experience-quote {
    background-color: #ccc;
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.block.experience-quote blockquote {
    margin: 16px;
    text-indent: 0;
}

.block.experience-quote.bg-red { 
    background-color: red; 
} 

.block.experience-quote.bg-green { 
    background-color: green; 
} 

.block.experience-quote.bg-blue { 
    background-color: blue; 
} 